* {
  /* background-color: rgb(23, 23, 23); */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  color: aliceblue;
}

#main-title {
  padding: 25px;
  font-size: 35px;
  text-align: center;
}

.goal-statement {
  padding: 50px;
  text-align: center;
}

li,
a,
button {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  color: aliceblue;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
